<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--60)">
	<!-- wp:heading {"level":1} -->
	<h1 class="wp-block-heading">تسویه حساب</h1>
	<!-- /wp:heading -->
	<!-- wp:woocommerce/checkout {"align":"wide"} -->
	<div class="wp-block-woocommerce-checkout alignwide is-loading">
		<!-- wp:woocommerce/checkout-fields-block -->
		<div class="wp-block-woocommerce-checkout-fields-block">
			<!-- wp:woocommerce/checkout-express-payment-block -->
			<div class="wp-block-woocommerce-checkout-express-payment-block"></div>
			<!-- /wp:woocommerce/checkout-express-payment-block -->
			<!-- wp:woocommerce/checkout-contact-information-block -->
			<div class="wp-block-woocommerce-checkout-contact-information-block"></div>
			<!-- /wp:woocommerce/checkout-contact-information-block -->
			<!-- wp:woocommerce/checkout-shipping-address-block -->
			<div class="wp-block-woocommerce-checkout-shipping-address-block"></div>
			<!-- /wp:woocommerce/checkout-shipping-address-block -->
			<!-- wp:woocommerce/checkout-billing-address-block -->
			<div class="wp-block-woocommerce-checkout-billing-address-block"></div>
			<!-- /wp:woocommerce/checkout-billing-address-block -->
			<!-- wp:woocommerce/checkout-shipping-methods-block -->
			<div class="wp-block-woocommerce-checkout-shipping-methods-block"></div>
			<!-- /wp:woocommerce/checkout-shipping-methods-block -->
			<!-- wp:woocommerce/checkout-payment-block -->
			<div class="wp-block-woocommerce-checkout-payment-block"></div>
			<!-- /wp:woocommerce/checkout-payment-block -->
			<!-- wp:woocommerce/checkout-additional-information-block -->
			<div class="wp-block-woocommerce-checkout-additional-information-block"></div>
			<!-- /wp:woocommerce/checkout-additional-information-block -->
			<!-- wp:woocommerce/checkout-order-note-block -->
			<div class="wp-block-woocommerce-checkout-order-note-block"></div>
			<!-- /wp:woocommerce/checkout-order-note-block -->
			<!-- wp:woocommerce/checkout-terms-block -->
			<div class="wp-block-woocommerce-checkout-terms-block"></div>
			<!-- /wp:woocommerce/checkout-terms-block -->
			<!-- wp:woocommerce/checkout-actions-block -->
			<div class="wp-block-woocommerce-checkout-actions-block"></div>
			<!-- /wp:woocommerce/checkout-actions-block -->
		</div>
		<!-- /wp:woocommerce/checkout-fields-block -->
		<!-- wp:woocommerce/checkout-totals-block -->
		<div class="wp-block-woocommerce-checkout-totals-block">
			<!-- wp:woocommerce/checkout-order-summary-block -->
			<div class="wp-block-woocommerce-checkout-order-summary-block"></div>
			<!-- /wp:woocommerce/checkout-order-summary-block -->
		</div>
		<!-- /wp:woocommerce/checkout-totals-block -->
	</div>
	<!-- /wp:woocommerce/checkout -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
